body {
	margin: 0;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.traveler {
	width: 600px;
	height: 500px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	margin: 10px;
}

.traveler video {
	position: absolute;
}

.credit {
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	position: fixed;
	right: 0px;
	bottom: 0px;
	font-size: 2.5em;
	margin: 1em;
}